doctype html
html
  head
    title Pixelis
    link(rel='stylesheet', type='text/css', href='galerystyle.css')
  body
    ul
      li
        a(href='/') Home
      li
        a(href='/canvas') Create new canvas
      li#profile
        a(href='/profile') Profile
      li#galery
        a(href='/gallery') Gralery
    .all
      .part
        #name
            p  Name
        .image
            img(src='default-profile.png')