html, body {
    height: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 5px;
    margin-bottom: 0.5px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
body {
    background-image: url("background.png");
}

.button-group button {
    overflow: auto;
    background-color: #555; 
    border: 1px solid black; 
    color: white; /* White text */
    padding: 20px 20px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 90px;
    display: block; /* Make the buttons appear below each other */
}
.button-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}
/* Add a background color on hover */
.button-group button:hover {
    background-color: #111;
}
.button {
    overflow: auto;
    display: block;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 90px;
    height: 90px;
}

.color-bar > div{
    display: block;
}

.color{
    display: inline;
    margin: 3px;
}
.shades{
    overflow: auto;
    border-radius: 2px;
    border: black;
    padding: 20px;
}

#container > div,
#container svg {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 0 10px;
}
canvas {
    display: none; 
    
}

svg{
    cursor: url(pencil.png), auto;
   
}

.size {
    display: none;
}

#galery,
#profile,
#logout {
    float:right;
}

#adds{
    display: block;
}

