h1 {
    font-size:50px;
    font-family: "Arial Black", Gadget, sans-serif;
    margin-top: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

body {
    text-align: center;
    background-image: url("background.png");
}

div {
	display: block;
    margin-left: auto;
    margin-right: auto;
    
}

input[type=submit]{
    font-size:18px;
    background-color: #333;
    color: white;
    border: none;
    padding: 12px 20px;
}

input[type=submit]:hover {
    background-color: #111;
}
