html, body {
    height: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
form {
    position: fixed;
    top:15%;
    left: 40%;
    width:180px;
    background-color: #333;

}
body {
    text-align: center;
    background-image: url("background.png");
}

#galery,
#profile,
#logout {
    float:right;
}

div {
    border: none;
    margin: 3%;
    background-color: #333;
}
.image{
    width:300px; /*width of your image*/
    height:300px; /*height of your image*/
    background-image:url('default-profile.png');
}
.all {
    display: inline-block;
    text-align: left;
    width: 75%;
}

#adds 
{
    float: right;
    border: 0;
    height: 300px;
}
.info {
    width: 50%;
}
.info div {
    display: block;
    vertical-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    color: white;
}
.all > div {
    display: inline-block;
    vertical-align: top;
}
